---
http_interactions:
- request:
    method: get
    uri: http://coinmarketcap.northpole.ro/api/v5/all.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 25 Oct 2015 16:40:05 GMT
      Etag:
      - '"1a4440-cd850-522f07f38fed6"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":1445791203,"markets":[{"position":"669","name":"Pennies","symbol":"CENT","category":"currency","marketCap":{"usd":"0.0","btc":"?","eur":"0.0","cny":"0.0","gbp":"0.0","cad":"0.0","rub":"0.0","hkd":"0.0","jpy":"0.0","aud":"0.0"},"price":{"usd":"7.50594e-10","btc":"2.56306e-12","eur":"6.812496227159999e-10","cny":"4.765693942620001e-09","gbp":"4.90155896256e-10","cad":"9.8824707228e-10","rub":"4.671112343274e-08","hkd":"5.817076478616e-09","jpy":"9.11696992596e-08","aud":"1.0397670938460001e-09"},"availableSupply":"?","availableSupplyNumber":0,"volume24":{"usd":"0.0
        %","btc":"?","eur":"0.0 %","cny":"0.0 %","gbp":"0.0 %","cad":"0.0 %","rub":"0.0
        %","hkd":"0.0 %","jpy":"0.0 %","aud":"0.0 %"},"change1h":{"usd":"-0.46","btc":"-0.57","eur":"-0.46","cny":"-0.46","gbp":"-0.46","cad":"-0.46","rub":"-0.46","hkd":"-0.46","jpy":"-0.46","aud":"-0.46"},"change7h":{"usd":"1.09","btc":"-3.64","eur":"1.09","cny":"1.09","gbp":"1.09","cad":"1.09","rub":"1.09","hkd":"1.09","jpy":"1.09","aud":"1.09"},"change7d":{"usd":"-11.86","btc":"-20.96","eur":"-11.86","cny":"-11.86","gbp":"-11.86","cad":"-11.86","rub":"-11.86","hkd":"-11.86","jpy":"-11.86","aud":"-11.86"},"timestamp":1445791203},{"position":"668","name":"The
        Cypherfunks","symbol":"FUNK","category":"currency","marketCap":{"usd":"0.0","btc":"?","eur":"0.0","cny":"0.0","gbp":"0.0","cad":"0.0","rub":"0.0","hkd":"0.0","jpy":"0.0","aud":"0.0"},"price":{"usd":"2.17521e-07","btc":"7.43643e-10","eur":"1.97425104894e-07","cny":"1.38109085883e-06","g[...]
[...]
