---
http_interactions:
- request:
    method: get
    uri: http://coinmarketcap.northpole.ro/api/v5/all.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 25 Oct 2015 10:20:04 GMT
      Etag:
      - '"1a4440-cc7bf-522eb3032cc8c"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"timestamp":1445768403,"markets":[{"position":"669","name":"Pennies","symbol":"CENT","category":"currency","marketCap":{"usd":"0.0","btc":"?","eur":"0.0","cny":"0.0","gbp":"0.0","cad":"0.0","rub":"0.0","hkd":"0.0","jpy":"0.0","aud":"0.0"},"price":{"usd":"7.53632e-10","btc":"2.59896e-12","eur":"6.84006954048e-10","cny":"4.784982903360001e-09","gbp":"4.921397831680001e-10","cad":"9.9224696384e-10","rub":"4.690018488672e-08","hkd":"5.840620869248e-09","jpy":"9.15387050688e-08","aud":"1.043975510688e-09"},"availableSupply":"?","availableSupplyNumber":0,"volume24":{"usd":"0.0
        %","btc":"5.19793e-06","eur":"0.0 %","cny":"0.0 %","gbp":"0.0 %","cad":"0.0
        %","rub":"0.0 %","hkd":"0.0 %","jpy":"0.0 %","aud":"0.0 %"},"change1h":{"usd":"0.24","btc":"-0.34","eur":"0.24","cny":"0.24","gbp":"0.24","cad":"0.24","rub":"0.24","hkd":"0.24","jpy":"0.24","aud":"0.24"},"change7h":{"usd":"1.00","btc":"-2.95","eur":"1.00","cny":"1.00","gbp":"1.00","cad":"1.00","rub":"1.00","hkd":"1.00","jpy":"1.00","aud":"1.00"},"change7d":{"usd":"-12.56","btc":"-19.17","eur":"-12.56","cny":"-12.56","gbp":"-12.56","cad":"-12.56","rub":"-12.56","hkd":"-12.56","jpy":"-12.56","aud":"-12.56"},"timestamp":1445768403},{"position":"668","name":"The
        Cypherfunks","symbol":"FUNK","category":"currency","marketCap":{"usd":"0.0","btc":"?","eur":"0.0","cny":"0.0","gbp":"0.0","cad":"0.0","rub":"0.0","hkd":"0.0","jpy":"0.0","aud":"0.0"},"price":{"usd":"2.18819e-07","btc":"7.54617e-10","eur":"1.9860318786599999e-07","cny":"1.38933215937000[...]
